<div class="faq">
<h1> <b> Frequently Asked Questions</b></h1>
<span class="btn">
    <ul class="list">
        <li>
            <h3 >
                <button class="b-1" routerLink="netflix"> What is Netflix?     </button>
                
            </h3>
        </li>

        <li>
             <h3> 
                <button class="b-1" >How much does Netflix cost? </button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" >Where can i watch? </button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" > How do i cancel?</button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" >What can i watch on Netflix? </button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" >Is Netflix good for kids?  </button>
        </h3> </li>
    </ul>
</span>
<p> <b>Ready to watch? Enter your email to create or restart your membership.</b> </p>
<input type="email" placeholder="Email address"> <button class="bbt">Getstarted></button>
</div>